<div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
<h2>Login</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mb1"><%= f.email_field :email, placeholder: 'Email', autofocus: true %></div>

  <div class="mb1"><%= f.password_field :password, autocomplete: 'off', placeholder: 'Password' %></div>

  <% if devise_mapping.rememberable? -%>
          <div class="switch round small mb1">
            <div class="inline-block left prm">
              <%= f.check_box :remember_me %> <%= f.label :remember_me %>
            </div>
            <span>Remember Me</span>
          </div>
  <% end -%>

  <div class="clear"><%= f.submit "Sign in", class: "button" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>